<form
  class="form-horizontal"
  autocomplete="off"  
  (ngSubmit)="save()"
>

<abp-modal-header
    title="Cadastro de Ativos"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="resourceName">
          Nome do Ativo
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="resourceName"
            id="resourceName"
            minlength="2"
            maxlength="64"
            required                        
          />          
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="areaName">
          Area Responsavel
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="areaName"
            id="areaName"
            minlength="2"
            maxlength="64"
            required                        
          />          
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="areaName">
          Data Entrada
        </label>
        <div class="col-md-3">
            <input
              type="text"
              class="form-control"
              name="areaName"
              id="areaName"
              minlength="2"
              maxlength="10"
              required                        
            />          
          </div>
      </div> 
      <div class="form-group row mb-0">
        <div class="col-md-6">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="bLiquidado"                
              />
              <label class="custom-control-label" for="bLiquidado">
                Ativo Liquidado
              </label>
            </div>
          </div>
      </div>
  </div>
  <abp-modal-footer
  [cancelDisabled]="saving"
  [saveDisabled]="saving"  
  (onCancelClick)="bsModalRef.hide()"  
></abp-modal-footer>